<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>gestionUsuario</servlet-name>
        <servlet-class>servlet.gestionUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionTienda</servlet-name>
        <servlet-class>servlet.GestionTienda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionLogin</servlet-name>
        <servlet-class>servlet.GestionLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionMisCursos</servlet-name>
        <servlet-class>servlet.GestionMisCursos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionCurso</servlet-name>
        <servlet-class>servlet.GestionCurso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionContenido</servlet-name>
        <servlet-class>servlet.GestionContenido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionPerfil</servlet-name>
        <servlet-class>servlet.GestionPerfil</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>gestionUsuario</servlet-name>
        <url-pattern>/gestionUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionTienda</servlet-name>
        <url-pattern>/GestionTienda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionLogin</servlet-name>
        <url-pattern>/GestionLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionMisCursos</servlet-name>
        <url-pattern>/GestionMisCursos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionCurso</servlet-name>
        <url-pattern>/GestionCurso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionContenido</servlet-name>
        <url-pattern>/GestionContenido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionPerfil</servlet-name>
        <url-pattern>/GestionPerfil</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
